body {
  
  background-color: black;
  background-image: url("Seamless.png");
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: white;
  
}

h1 {
 
  font-size: 50px;
  
}

h2 {
  
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  
}

.images {
  
  box-shadow: 0px 0px 25px 5px #222222;
  width: 100%;
  
}

.logo {
 
  width: 30%;
  height: 30%;
  
}

#work {
  
  margin: auto;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  display: grid;
  grid-gap: 7px;
  padding-bottom: 10px;
  margin: auto;

}

#work img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.tall {
  grid-span: span 20;
  box-shadow: 0px 0px 25px 5px #222222;
}

.square {
  grid-span: span 16;
  box-shadow: 0px 0px 25px 5px #222222;
}

.wide {
  hrid-span: span 9;
  box-shadow: 0px 0px 25px 5px #222222;
}
