body {
  
  background-color: black;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/a6d6cf112905279.601d203bc185b.png");
  background-repeat: no-repeat;
  margin-left: 20px;
  color: red;
  
}
