body {
  
  background-color: black;
  background-image: url("Repo/Seamless.png");
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: white;
  
}

h1 {
 
  font-size: 50px;
  
}

.images {
  
  box-shadow: 0px 0px 25px 5px #222222;
  
}
