body {
  
  background-color: black;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/a6d6cf112905279.601d203bc185b.png");
  background-repeat: no-repeat;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: white;
  
}

h1 {
 
  font-size: 50px;
  
}

div.imag {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
