body {
  font-family:verdana;
  background-color: 000000;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/e2577b112965191.601e665bcd22f.png");
}

h1 {
  color: navy;
  margin-left: 20px;
}
