body {
  
  background-color: black;
  background-image: url("Seamless.png");
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: white;
  
}

#content {
  
    margin: 0 auto 10px auto;
    max-width: 1280px;
    padding: 0 10px 10px 10px;
}
h1 {
 
  font-size: 50px;
  
}

h2 {
  
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  
}

.images {
  
  box-shadow: 0px 0px 25px 5px #222222;
  width: 100%;
  
}

.logo {
 
  width: 30%;
  height: 30%;
  
}

#work {
  
  margin: auto;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  display: grid;
  grid-gap: 7px;
  padding-bottom: 10px;
  margin: auto;

}

#work img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.tall {
  grid-row: span 20;
  box-shadow: 0px 0px 25px 5px #222222;
}

.square {
  grid-row: span 16;
  box-shadow: 0px 0px 25px 5px #222222;
}

.wide {
  hrid-row: span 9;
  box-shadow: 0px 0px 25px 5px #222222;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #222;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}
