body {
  
  background-color: 000000;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/e2577b112965191.601e665bcd22f.png");
  background-repeat: no-repeat;
  margin-left: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: FFFFFF;
  
  
}

