body {
  
  background-color: black;
  background-image: url("Seamless.png");
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: white;
  
}

h1 {
 
  font-size: 50px;
  
}

.images {
  
  box-shadow: 0px 0px 25px 5px #222222;
  
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 175px;
  text-align: center;
}

.column {
  flex: 25%;
  padding: 0 25px;
}

.logo {
 
  width: 30%;
  height: 30%;
  
}

.flexbox {
  
  width: 50%;
  height: 50%;
  
}
