body {
  
  background-color: black;
  background-image: url("Seamless.png");
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: white;
  
}

h1 {
 
  font-size: 50px;
  
}

h2 {
  
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  
}

.images {
  
  box-shadow: 0px 0px 25px 5px #222222;
  width: 100%;
  
}

.logo {
 
  width: 30%;
  height: 30%;
  
}

#work {
  
  width: 100%;
  display: grid;
  grid-gap: 7px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 25px 5px #222222;
  width: 100%;
  
}

.tall {
  grid-span: span 20;
}

.square {
  grid-span: span 16;
}

.wide {
  hrid-span: span 9;
}
